<nav class="navbar navbar-expand-lg navbar-dark bg-dark px-4">
  <a class="navbar-brand">DeckSet</a>

  <div class="collapse navbar-collapse justify-content-between">
    @if(!loadingPage()) {
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <button class="btn btn-outline-success my-2 my-sm-0" (click)="fetchData()" [disabled]="loadingData()">Fetch Card Data</button>
        </li>

        @if(updatedAt(); as updatedAt) {
          <li class="nav-item">
            <a class="nav-link disabled" href="#">Updated at: {{ updatedAt | date }} ({{ totalCards() | number }} cards)</a>
          </li>
        }

        @else {
          <li class="nav-item">
            <a class="nav-link disabled" href="#">Data not fetched.</a>
          </li>
        }
      </ul>

      @if(deckString()) {
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <button class="btn btn-outline-info my-2 my-sm-0" (click)="toggleDeckBox()">
            {{ deckToggle() ? 'Hide' : 'Show' }} Deck
          </button>
        </li>
      </ul>
      }
    }
  </div>
</nav>

@if(!loadingPage()) {
<div class="container py-4">
  <div class="row">
    @if(shouldShowDeck()) {
      <div class="col-6">
        <h2>Deck List</h2>
        <textarea class="form-control" rows="15" [(ngModel)]="deckString" (ngModelChange)="saveDeck($event)"></textarea>
      </div>
    }

    <div class="col">
      <h2 class="d-flex align-items-center">
        Card List

        <div class="btn-group ms-3">
          @for(sortType of ['Set', 'Color', 'Rarity', 'Type']; track $index) {
            <button type="button" class="btn btn-sm"
                    (click)="setSort(sortType)"
                    [class.btn-secondary]="sort() !== sortType"
                    [class.btn-info]="sort() === sortType">
                  {{ sortType }}
            </button>
          }
        </div>
      </h2>

      <div class="row my-3">
        <div class="col">
          <em>{{ totalUniqueCards() }} cards in deck; {{ incompleteCards() }} cards to go</em>

          <button class="btn ms-3 btn-sm" [class.btn-outline-info]="!hideComplete()" [class.btn-info]="hideComplete()" (click)="toggleHideComplete()">
            {{ hideComplete() ? '☑' : '☐' }} Hide Complete
          </button>
        </div>
      </div>

      <div class="row">
        @for(set of orderedSets(); track $index) {
          @let isComplete = isSetComplete(set);

          <div class="col-4 my-2" [class.hidden]="isComplete && hideComplete()">
            <div class="card" [class.text-white]="isComplete" [class.bg-success]="isComplete">
              <div class="card-body">
                <h5 class="card-title">
                  {{ set }}
                </h5>

                <div class="card-text">
                  <ul>
                    @for(card of cardsAndSets()[set]; track card.name) {
                      <li>
                        @for(input of checkList[card.name]; track $index) {
                          <input class="form-check-input" type="checkbox" [checked]="checkList[card.name][$index]()" (click)="toggleCollectionCard(card.name, $index)">
                        }

                        {{ card.name }}
                      </li>
                    }
                  </ul>
                </div>
              </div>
            </div>
          </div>
        }
      </div>
    </div>
  </div>
</div>
}

@else {
  <div class="container py-4 loading-container">
    <div class="spinner-border">
    </div>
  </div>
}
