.hidden {
  display: none;
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

.form-check-input {
  margin-right: 4px;
}

.unfound {
  margin-right: 4px;
}
